[submodule "php-switch-scripts"]
	path = php-switch-scripts
	url = https://github.com/IvanRybakov/php-switch-scripts.git
[submodule "virtualhost"]
	path = virtualhost
	url = https://github.com/IvanRybakov/virtualhost.git
